.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.logo {
  height: 80px;
}

.profile {
  height: 80px;
  border-radius: 50%;
}

.admin-label {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
